body
  margin 0
  display flex
  flex-direction row
  overflow-y scroll

div#root
  width 100vw

main
  width 800px
  margin 5em auto
  flex-grow 1
  @media screen and (max-width 400px)
    width 100vw
  @media screen and (min-width 401px) and (max-width 800px)
    width 400px

  #search-menu
    margin-top 10em

#postcode-data
  margin-top 2em
  margin-bottom 4em
  > div.md-card
    margin-top: 2em;

.md-data-table--responsive
  width: 100%

.policeneighbourhood
  margin-top 2em

.bikecontainer
  display flex
  flex-direction row
  width 100%
  flex-wrap wrap
  justify-content center
  .bikecard
    max-width 320px
    min-width 320px
    margin 1em

.hyperlinklist
  color: inherit
  text-decoration inherit

section.messagebox
  display flex
  justify-content center
  align-items center
  min-height 20em
  width 100%

  > h1
    font-weight: bold
    color rgba(0, 0, 0, 0.8)

.bold
  font-weight bold

.center
  text-align center

.md-dialog-container
  display flex
  justify-content center
  align-items center