body
  margin 0
  display flex
  flex-direction row
  overflow-y scroll

div#root
  width 100vw

main
  width 850px
  margin 5em auto
  flex-grow 1
  @media screen and (max-width 400px)
    width 100vw
  @media screen and (min-width 401px) and (max-width 800px)
    width 400px

  #search-menu
    margin-top 10em

#postcode-data
  margin-top 2em
  margin-bottom 4em

  > div.md-card
    margin-top: 2em;

.md-data-table--responsive
  width: 100%

.policeneighbourhood
  margin-top 2em

.bikecontainer
  display grid
  grid-template-columns repeat(auto-fit, minmax(250px, 1fr))
  grid-column-gap 1em
  grid-row-gap 1em
  width 100%
  padding 1em

  article.bikecard
    display flex
    flex-direction column
    header
      padding 1.2em
      border-bottom 1px solid rgba(0,0,0,0.1)
      h2
        font-weight bold
        font-size 1.4em
        margin 0
      h3
        font-weight normal
        font-size 1em
        opacity 0.4
        margin 0
    section.md-card-text
      p
        margin-bottom 0.2em
    footer
      padding 1.2em
      border-top 1px solid rgba(0,0,0,0.1)
      opacity 0.4
      text-align center
      *
        font-size 0.8em
        margin 0
        color black


.hyperlinklist
  color: inherit
  text-decoration inherit

section.messagebox
  display flex
  justify-content center
  align-items center
  min-height 20em
  width 100%

  > h1
    font-weight: bold
    color rgba(0, 0, 0, 0.8)

.bold
  font-weight bold

.center
  text-align center

.md-dialog-container
  display flex
  justify-content center
  align-items center